<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="and0roid.permission.WRITE_SETTINGS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.example.auraia.INFO_ABOUT_AURA"
        android:allowBackup="false"
        android:icon="@drawable/appicon"
        android:label="aura"
        android:networkSecurityConfig="@xml/networking"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup">
        <activity android:name="com.example.auraia.Journal.Entries.entryView" />
        <activity android:name="com.example.auraia.SETTINGS.settingsActivity" />
        <activity android:name=".Statistics.wakeStatsCheck" />

        <activity android:name="com.example.auraia.SETTINGS.bedSettingsActivity" />
        <activity android:name="com.example.auraia.BackgroundNoises.musicActivity" />
        <activity android:name="com.example.auraia.Intros.introActivity" />
        <activity android:name="com.example.auraia.Journal.Entries.entriesActivity" />
        <activity android:name="com.example.auraia.Statistics.statsActivity" />

        <activity
            android:name="com.example.auraia.Dimming.dimActivity"
            android:label="@string/title_activity_dim"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.example.auraia.Dimming.ScreenFIlterService"
            android:enabled="true"
            android:exported="false" />

        <service android:name="com.example.auraia.BackgroundNoises.noiseService" />

        <activity
            android:name="com.example.auraia.Journal.JournalsIn.journalActivity"
            android:label="@string/title_activity_journal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.auraia.Intros.homeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.example.auraia.SETTINGS.AlertReceiver" />
        <receiver android:name="com.example.auraia.SETTINGS.bedtimesReceiver" />
        <receiver android:name="com.example.auraia.SETTINGS.dimmerReceiver" />
        <receiver android:name="com.example.auraia.SETTINGS.dimmerOffReceiver" />
        <receiver android:name="com.example.auraia.SETTINGS.muteOffReceiver" />
        <receiver android:name="com.example.auraia.SETTINGS.muteOnReceiver" />

        <receiver android:name="com.example.auraia.BackgroundNoises.musicOff" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>